.mainpage {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  position: relative;
  align-items: center;
}

.facediv {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  height: 60rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  background-color: #641e16;
  justify-content: center;
  align-items: center;
  text-align: start;
  color: white;
}
.facediv h1 {
  width: 80%;
  z-index: 5;
}
.facediv p {
  width: 80%;
  text-align: justify;
  z-index: 5;
}
.facediv .jobanim {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 4;
  opacity: 0.4;
}
.facediv .getstarted {
  height: 8rem;
  width: 80%;
  border-radius: 4rem;
  border: none;
  color: white;
  font-size: 3rem;
  border: 2px solid #943126;
  background-color: transparent;
  transition: 0.2s;
  z-index: 5;
  background-color: rgba(100, 30, 22, 0.6039215686);
}
.facediv .getstarted:hover {
  background-color: #943126;
}
.facediv .faceline1,
.facediv .faceline3 {
  position: absolute;
  z-index: 5;
}
.facediv .faceline3,
.facediv .faceline1 {
  border-left: 2px solid #943126;
  height: 80%;
  top: 0;
}
.facediv .faceline1 {
  right: 4.5rem;
}
.facediv .faceline3 {
  right: 5rem;
}

.subface {
  position: absolute;
  top: 5rem;
  right: 5rem;
  height: 60rem;
  width: 80%;
  background-color: #943126;
  opacity: 0.9;
  z-index: 2;
}

.toppage {
  height: 70rem;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.companies {
  width: 80%;
  background-color: white;
  z-index: 2;
}
.companies h3 {
  text-align: center;
  color: rgb(49, 49, 49);
}

.companyscroll {
  width: 100%;
  display: flex;
  overflow: hidden;
  margin-top: 2rem;
  height: 15rem;
}
.companyscroll section {
  display: flex;
  animation: swipe 30s linear infinite reverse;
}

.companyscroll2 {
  width: 100%;
  display: flex;
  overflow: hidden;
  height: 15rem;
}
.companyscroll2 section {
  display: flex;
  animation: swipe 30s linear infinite;
}

img {
  width: 15rem;
  height: 15rem;
  margin: 0 1.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  padding-left: 0;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-100%);
  }
}
@keyframes swipe2 {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(100%);
  }
}
.features {
  background-color: black;
  width: 100%;
  max-width: 100%;
  position: relative;
  padding: 4rem 0;
}
.features .backanim {
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  top: 0;
  left: 0;
}
.features .neonanim {
  width: 100%;
  position: absolute;
  top: -38rem;
  left: 0;
  height: 100rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.features .featuresline1 {
  position: absolute;
  top: 27rem;
  left: 50%;
  transform: translateX(-50%);
  height: 54rem;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-radius: 2px;
}
.features .featuresline2 {
  position: absolute;
  top: 98rem;
  left: 50%;
  transform: translateX(-50%);
  height: 54rem;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-radius: 2px;
}
.features h3 {
  color: white;
  text-align: center;
  text-shadow: 0px 5px 15px white;
  z-index: 2;
}
.features p {
  color: white;
  margin-bottom: 5rem;
  margin-top: 10rem;
  margin-left: 5rem;
  text-shadow: 0px 5px 15px white;
  z-index: 2;
}
.features .row1,
.features .row2 {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10rem;
  z-index: 2;
}
.features .row1 .er,
.features .row2 .er {
  display: flex;
  flex-direction: row;
  row-gap: auto;
  -moz-column-gap: 2.3rem;
       column-gap: 2.3rem;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.features .featureboxhidden {
  transform: translateY(50%);
  opacity: 0;
  transition: 0.5s;
}
.features .featureboxhidden img {
  height: 100%;
  width: 25%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}
.features .featureboxhidden h3 {
  display: flex;
  justify-content: center;
  font-weight: 500;
  color: white;
  text-shadow: none;
  font-size: 2rem;
  align-items: center;
  height: 100%;
  width: 74%;
  text-align: center;
  padding: 1rem;
}
.features .featurebox:nth-child(2) {
  transition-delay: 100ms;
}
.features .featurebox:nth-child(3) {
  transition-delay: 200ms;
}
.features .featurebox:nth-child(4) {
  transition-delay: 300ms;
}
.features .featurebox:nth-child(5) {
  transition-delay: 400ms;
}
.features .featurebox:nth-child(6) {
  transition-delay: 500ms;
}
.features .featurebox:nth-child(7) {
  transition-delay: 600ms;
}
.features .featurebox:nth-child(8) {
  transition-delay: 700ms;
}
.features .dot {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
}
.features .featurebox {
  height: 12rem;
  width: 30%;
  display: flex;
  flex-direction: row;
  row-gap: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s;
}
.features .featurebox img {
  height: 100%;
  width: 25%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}
.features .featurebox h3 {
  display: flex;
  justify-content: center;
  font-weight: 500;
  color: white;
  text-shadow: none;
  font-size: 2rem;
  align-items: center;
  height: 100%;
  width: 74%;
  text-align: center;
  padding: 1rem;
}
.features .b1 {
  background-color: purple;
  box-shadow: -4px 0px 5px purple, 4px 0px 5px purple, 0px -4px 5px purple, 0px 4px 5px purple;
  animation: dotscale 2s linear infinite alternate-reverse;
}
@keyframes dotscale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}
.features .b2 {
  background-color: rgb(5, 130, 226);
  box-shadow: -4px 0px 5px rgb(5, 130, 226), 4px 0px 5px rgb(5, 130, 226), 0px -4px 5px rgb(5, 130, 226), 0px 4px 5px rgb(5, 130, 226);
  animation: dotscale 2s linear infinite alternate-reverse;
}
.features .b3 {
  background-color: purple;
  box-shadow: -4px 0px 5px purple, 4px 0px 5px purple, 0px -4px 5px purple, 0px 4px 5px purple;
  animation: dotscale 2s linear infinite alternate-reverse;
}
.features .b4 {
  background-color: rgb(0, 255, 183);
  box-shadow: -4px 0px 5px rgb(0, 255, 183), 4px 0px 5px rgb(0, 255, 183), 0px -4px 5px rgb(0, 255, 183), 0px 4px 5px rgb(0, 255, 183);
  animation: dotscale 2s linear infinite alternate-reverse;
}
.features .b5 {
  background-color: rgb(0, 162, 255);
  box-shadow: -4px 0px 5px rgb(0, 162, 255), 4px 0px 5px rgb(0, 162, 255), 0px -4px 5px rgb(0, 162, 255), 0px 4px 5px rgb(0, 162, 255);
  animation: dotscale 2s linear infinite alternate-reverse;
}
.features .b6 {
  background-color: rgb(242, 0, 255);
  box-shadow: -4px 0px 5px rgb(242, 0, 255), 4px 0px 5px rgb(242, 0, 255), 0px -4px 5px rgb(242, 0, 255), 0px 4px 5px rgb(242, 0, 255);
  animation: dotscale 2s linear infinite alternate-reverse;
}
.features .b7 {
  background-color: rgb(0, 255, 30);
  box-shadow: -4px 0px 5px rgb(0, 255, 30), 4px 0px 5px rgb(0, 255, 30), 0px -4px 5px rgb(0, 255, 30), 0px 4px 5px rgb(0, 255, 30);
  animation: dotscale 2s linear infinite alternate-reverse;
}
.features .b8 {
  background-color: rgb(255, 234, 0);
  box-shadow: -4px 0px 5px rgb(255, 234, 0), 4px 0px 5px rgb(255, 234, 0), 0px -4px 5px rgb(255, 234, 0), 0px 4px 5px rgb(255, 234, 0);
  animation: dotscale 2s linear infinite alternate-reverse;
}

.contact {
  height: 50rem;
  width: 100%;
  background-color: white;
  z-index: 1;
}
.contact .bottomface {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  padding: 3rem;
  height: 40rem;
  width: 80%;
  display: flex;
  flex-direction: row;
  row-gap: 2rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  background-color: #641e16;
  justify-content: space-evenly;
  align-items: start;
  text-align: start;
  color: white;
}
.contact .bottomface .bottomline1,
.contact .bottomface .bottomline3 {
  border-left: 2px solid #943126;
  height: 80%;
  bottom: 0;
  z-index: 4;
  position: absolute;
}
.contact .bottomface .bottomline1 {
  left: 4.5rem;
}
.contact .bottomface .bottomline3 {
  left: 5rem;
}
.contact .bottomface .logo {
  z-index: 5;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact .bottomface .footerbox {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 2rem;
  z-index: 5;
}
.contact .bottomface .footerbox .topic {
  font-size: 1.5rem;
}
.contact .bottomface .footerbox .content {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}
.contact .bottomsubface {
  position: absolute;
  bottom: 5rem;
  left: 5rem;
  height: 40rem;
  width: 80%;
  display: flex;
  flex-direction: row;
  row-gap: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  background-color: #943126;
  opacity: 0.9;
  z-index: 2;
}

.mailing {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  z-index: 5;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  -moz-column-gap: 0;
       column-gap: 0;
}
.mailing span {
  color: rgb(150, 150, 150);
}
.mailing .mailbut {
  height: 3rem;
  width: 3rem;
  border-radius: 1.5rem;
  background-color: transparent;
  border: 2px solid #943126;
  color: white;
  margin-right: 1rem;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5rem;
  transition: 0.2s;
}
.mailing .mailbut:hover {
  background-color: #943126;
}

@media (min-width: 500px) and (max-width: 800px) {
  .features .featurebox,
  .featureboxhidden {
    height: 8rem;
    width: 30%;
  }
  .features .featuresline1 {
    height: 38rem;
    top: 25rem;
  }
  .features .featuresline2 {
    top: 80rem;
    height: 38rem;
  }
}
@media (max-width: 500px) {
  .faceline1,
  .faceline3 {
    display: none;
  }
  .features .featurebox,
  .featureboxhidden {
    height: 6rem;
    width: 30%;
  }
  .features .featurebox h3,
  .featureboxhidden h3 {
    font-size: 1rem;
  }
  .features .featuresline1 {
    height: 30rem;
    top: 24rem;
    border-left: 1px solid white;
    border-right: 1px solid white;
  }
  .features .featuresline2 {
    top: 72rem;
    height: 30rem;
    border-left: 1px solid white;
    border-right: 1px solid white;
  }
  .features .neonanim {
    top: -41rem;
  }
  .companies {
    width: 100%;
  }
  .contact .bottomface .logo,
  .contact .bottomface .bottomline1,
  .contact .bottomface .bottomline3 {
    display: none;
  }
  .contact .bottomface .footerbox {
    row-gap: 0.7rem;
  }
  .contact .bottomface .footerbox .content {
    font-size: 1rem;
  }
}
.navbar {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  row-gap: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding-right: 5rem;
  padding-left: 1rem;
  justify-content: space-between;
  align-items: center;
  z-index: 6;
}
.navbar .pagename {
  background-color: transparent;
  border: none;
  color: #641e16;
  height: 100%;
  width: 25%;
  z-index: 3;
  transition: 0.3s;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}
.navbar .pagename:hover {
  color: #e74c3c;
}
.navbar .smallbuttons {
  display: flex;
  flex-direction: row;
  row-gap: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  z-index: 3;
}
.navbar .smallbuttons .smallbutton {
  height: 6rem;
  width: 10rem;
  font-size: 2rem;
  border-radius: 3rem;
  border: none;
  background-color: transparent;
  color: white;
  transition: 0.2s;
}
.navbar .smallbuttons .smallbutton:hover {
  color: #e74c3c;
}
.navbar .hamburg {
  display: none;
}
.navbar .smallbuttonshidden {
  display: none;
}

.smallbuttons2 {
  display: none;
}

@media (max-width: 500px) {
  .navbar .hamburg {
    height: 3rem;
    width: 3rem;
    z-index: 4;
    position: absolute;
    top: 1rem;
    right: 2rem;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 4rem;
    width: 5rem;
    height: 5rem;
    display: inline;
  }
  .navbar .smallbuttons {
    display: none;
  }
  .navbar .smallbuttons2 {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    top: 7rem;
    position: absolute;
    background-color: #641e16;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    right: 1rem;
    z-index: 3;
    border-bottom: 1px solid #943126;
    box-shadow: -4px 4px 10px #641e16;
    transition: 0.3s;
  }
  .navbar .smallbuttons2 .smallbutton {
    height: 6rem;
    width: 10rem;
    font-size: 2rem;
    border-radius: 3rem;
    border: none;
    background-color: transparent;
    color: white;
    transition: 0.5s;
  }
  .navbar .smallbuttons2 .smallbutton:hover {
    color: #e74c3c;
  }
  .navbar .smallbuttonshidden {
    top: 5rem;
    position: absolute;
    background-color: #641e16;
    justify-content: start;
    align-items: center;
    width: 5rem;
    right: 1rem;
    height: 0;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    z-index: 3;
  }
  .navbar .smallbuttonshidden .smallbutton {
    height: 0;
    font-size: 0;
    border: none;
    transition: 0.5s;
    border-radius: 3rem;
    border: none;
    background-color: transparent;
    color: #641e16;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kanit", sans-serif;
}
body h1 {
  font-size: 7rem;
  font-weight: 700;
}
body h2 {
  font-size: 4rem;
  font-weight: 600;
}
body h3 {
  font-size: 3rem;
  font-weight: 600;
}
body p {
  font-size: 2rem;
  font-weight: 500;
}

button {
  font-family: "Kanit", sans-serif;
  cursor: pointer;
}

@media (max-width: 800px) and (min-width: 500px) {
  body h1 {
    font-size: 6rem;
    font-weight: 700;
  }
  body h2 {
    font-size: 3.5rem;
    font-weight: 600;
  }
  body h3 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  body p {
    font-size: 1.5rem;
    font-weight: 500;
  }
  html {
    font-size: 55%;
  }
}
@media (max-width: 500px) {
  body h1 {
    font-size: 5rem;
    font-weight: 700;
  }
  body h2 {
    font-size: 3rem;
    font-weight: 600;
  }
  body h3 {
    font-size: 2rem;
    font-weight: 600;
  }
  body p {
    font-size: 1.5rem;
    font-weight: 500;
  }
  html {
    font-size: 48%;
  }
}/*# sourceMappingURL=main.css.map */